
@charset "UTF-8";

body{

    background-color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0070d1;
    font-size: 12px;
    text-align: justify;      
}
h1{
    color: rgb(50, 53, 40);
    background-color:aqua;
}

a{color: black;
font-size: 20px;
}